<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Today´s news
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <app-noticias [noticias]="articles"></app-noticias>

  <ion-infinite-scroll threshold="130px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando más data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
